/*ANCHOS POR PANTALLA*/


/*PANTALLA OTRO*/
$font_size_logo_otro:14px;

$font_size_lista_otro: 12px;
$padding_left_lista_otro: 1px;
$padding_right_items_otro: 1px;
$ancho_nav_otro:69%;


/*PANTALLA CELULAR*/

$font_size_logo_celular:18px;
$ancho_nav_celular:78%;
$ancho_img_noticias_celular:100%;
$alto_img_noticias_celular:400px;
$ancho_input_menu_celular:50px;


/*PANTALLA TABLET*/

$ancho_pantalla_tablet:100%;
$ancho_noticias_tablet:100%;
$ancho_img_noticias_tablet:45%;
$alto_img_noticias_tablet:360px;
$ancho_nav_tablet:80%;
$medidas_noticias_tablet:100%;


/*PANTALLA DESKTOP*/

$ancho_pantalla_desktop:960px;
$ancho_aside_desktop:185px;
$ancho_aside_img_desktop:185px;
$alto_aside_img_noticias_destacadas_desktop:175px;
$ancho_noticias_desktop:650px;
$ancho_img_noticias_desktop:205px;
$alto_img_noticias_desktop:360px;
$ancho_nav_dekstop:840px;